@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,800');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.dashboard-root {
    font-family: 'Roboto';
    display: flex;
    height: 100vh;
}

.dash-scala-logo {
    flex: 1;
    background-repeat: no-repeat;
    height: 68px;
    background-size: contain;
    margin: 30px 0 30px 25px;
    background-image: url('/scala-logo.png')
}

.dash-customer-logo {
    flex: 1;
    background-repeat: no-repeat;
    background-size: 150px 51px; 
    height: 51px;
    margin: 15px 0;
    max-width: 90%;
}

.dash-left {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1 2;
    background: rgb(4,65,126);
    background: linear-gradient(90deg, rgba(4,70,126,1) 0%, rgba(4,56,94,1) 80%, rgba(4,42,62,1) 100%);
    color: #ECECEC;
    letter-spacing: 2px;
}

.dash-links {
    list-style-type: none;
    flex: 7;
    padding: unset;
    margin: 0 18px 0 4px;
}

.dash-footer-links {
    list-style-type: none;
    padding: unset;
}

.fa-code {
    font-size: 16px;
}

.dash-link {
    display: flex;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
    padding: 10px 0 10px 10px;
    margin-left: 5px;
    color: unset;
    text-decoration: none;
    border-radius: 4px;
    transition: background .15s ease-in;
}

.dash-link:hover {
    background-color: #132a44;
}

.dash-link-icon {
    color: #42a1f4;
    width: 22px !important; /* needed to override fa default width with higher specificity */
    margin-right: 18px;
}

.dash-copyright-statement {
    font-weight: 300;
    font-size: 10px;
    padding: 0 0 12px 16px;
}

.dash-right {
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    flex: 6 1;
    padding: 0 16px 12px 32px;
    height: stretch;
    overflow-y: scroll;
}

.dash-right-title {
    font-size: 34px;
    margin: 22px 0;
    font-weight: 300;
    color: #42a1f4;
}

.dash-right-options {
    text-align: right;
    margin: 24px 30px;
    padding: 10px;
    font-weight: 100;
}

.dash-footer {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: flex-end;
}

.card {
    background: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1);
    border: 1px solid #ECECEC;
    padding: 20px
}

.card-file-directory {
    display: flex;
    flex-direction: row;
    margin: 6px 0;
}

.card-file-directory > * {
    margin: 0px 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-file-directory-controls {
    display: flex;
    flex-direction: row;
}

.card-file-directory-control-chevron {
    opacity: 0;
    margin-left: 6px;
    transition: all .25s ease-in-out;
}

.card-file-directory-control:hover > .card-file-directory-control-chevron {
    opacity: 1;
}

.card-file-directory-control-chevron.active {
    opacity: 1;
}

.card-file-directory-control-chevron.ascending {
    transform: rotate(-180deg)
}

.card-checkbox {
    flex: 1;
}

.card-file-title {
    flex: 6;
}

.card-file-header-path {
    margin-left: 18px;
    font-weight: 300;
    cursor: pointer;
}

.card-file-header-path:hover {
    font-weight: 600;
}

.card-file-header-path:hover:last-child {
    font-weight: 300;
}

.card-icon {
    color: #42a1f4;
    margin-right: 6px;
}

.card-file-type {
    flex: 3;
}

.card-file-modified-date {
    flex: 4;
}

.card-file-size {
    flex: 4;
}

.card-file-header {
    padding: 18px 36px;
    font-size: 20px;
    margin-bottom: 16px;
}

.card-file-header-title {
    display: flex;
    padding: 8px 12px;
    background-color: #ececec;
    width: fit-content;
    border-radius: 4px;
    font-weight: 800;
}

.card-file-header-interactions {
    display: flex;
    justify-content: space-between;
}

.card-file-header-actions {
    display: flex;
    align-items: flex-start;
    flex: 1;
}

.card-file-header-search-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.card-file-header-search {
    background-color: #EFEFEF;
    padding: 8px 16px;
    border-radius: 4px;
    width: 100%;
    max-width: 220px;
    border: none;
}

.dash-icon {
    margin: 0 6px;
}

.status-completed {
    text-transform: uppercase !important;
    font-weight: 600;
    color: green ;
}

.status-terminated {
    font-weight: 600 !important;
    text-transform: uppercase !important;
    color: #CECECE !important;
}

.status-failed {
    font-weight: 600;
    text-transform: uppercase !important;
    color: #7C0A02;
}

.status-running {
    font-weight: 600;
    text-transform: uppercase !important;
    color: #132a44;
}

.current-jobs > * {
    margin: 10px 0;
}

.tip-close-btn {
    float: right;
}

.current-jobs {
}

.current-jobs-header {
    flex: 1;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 0;
}

.tips-title {

}

.current-jobs {
    padding: 20px;
    min-height: 221px;
}

.jobs-root {
    width: 100%;
}

.jobs-root > div {
    margin-top: 24px;
}

.jobs-root:last-child {
    margin-bottom: 24px;
}

.file-explorer {
    width: stretch;
    font-family: 'Ubuntu Mono', monospace;
    letter-spacing: 2px;
    padding: 18px;
    margin-bottom: 24px;
}


.file-explorer-table {
    font-family: 'Ubuntu Mono', monospace !important;
    letter-spacing: 2px;
    padding: 20px;
}

.file-path {
    margin: 8px 0;
    padding: 2px;
    background-color: aliceblue;
    font-family: 'Ubuntu Mono', monospace;
    border: unset;
    font-size: 16px;
}

.file-path:focus {
    outline: none;
}

.file-pane-header {
    font-weight: 800;
}

.jobs-drawer-workflows > div {
    width: unset !important;
    margin: unset !important;
    padding-bottom: 24px;
}

.workflow-card {
    min-height: 200px;
    padding: 20px;
    margin: 20px 0;
}

.workflow-card-title {
    padding: 4px 0;
}

.workflow-templates {
    margin: 16px;
}

.section {
    margin-top: 24px;
    padding: 24px;
}

.card-metadata {
    font-family: 'Ubuntu Mono', monospace;
    margin: 8px !important;
}

.workflow-title-container {
    display: flex;
    justify-content: space-between;
    margin: 0 4px;
    align-items: flex-end;
}

.workflow-title-container > * {
    display: inline !important;
}

.stepper-progress-buttons {
    display: flex;
    align-self: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.step-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10vw;
}

.step-title {
    letter-spacing: 4px;
    font-weight: 100 !important;
    margin: 32px !important;
    text-transform: uppercase;
}

.template-metadata-subheading {
    font-family: 'Ubuntu Mono', monospace;
    text-transform: uppercase;
    margin: 6px 6px 0 6px !important;
    letter-spacing: 1px;
}

.usage-summary {
    padding: 24px;
}

.specific-usage-detail {

}

.monthly-usage-summary {
    display: flex;
    flex-direction: column;
}

.desktop-section-container {
    padding: 24px;
    min-height: 357px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-title {
    font-weight: 200;
}

.desktop-cards-root {
    margin-top: 24px !important;
    max-height: 76vh;
    overflow-y: scroll;
}

.desktop-card {
    min-height: 108px;
    padding: 0 12px 8px;
}

.desktop-card-title {
    padding: 12px;
    text-align: center;
}

.schedule-container {
    margin-top: 24px !important;
}

.summary-container {
    margin-top: 12px !important;
}

.connection-card {
    display: flex;
    margin: 12px !important;
    padding: 18px;
    min-height: 240px;
}

.connection-cards-container {
    padding: 12px;
}

.menu-options-container {
    display: flex;
    justify-content: flex-end;
}

.expansion-panel-jobs-summary {
    background-color: #5e8dbf !important;
    display: flex;
    align-items: center;
    min-height: 48px;
    padding-left: 24px;
    margin-bottom: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.expansion-panel-jobs-summary-title {
    color: white !important;
    font-weight: 800;
    letter-spacing: 1px;
}

.jobs-drawer-list-container {
    width: 432px;
}

.create-new-job-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 12px;
}

.create-new-job-title {
    margin: 12px !important;
    text-transform: uppercase;
    font-weight: 400 !important;
    letter-spacing: 2px;
}

.jobs-drawer-top-section {
    margin: 32px 6px 4px 24px;
}

.workflow-logo {
    width: auto;
    height: 24px;
}

.back-button {
    background-color: #ECECEC !important;
}

.confirm-workflow-field {
    letter-spacing: 3px;
    font-weight: 100 !important;
    text-transform: uppercase;
    display: inline-block !important;
    padding-right: 8px;
}

.confirm-workflow-value {
    font-family: 'Ubuntu Mono', monospace !important;
    letter-spacing: 1px;
    display: inline-block !important;
}

.confirm-workflow-card {
    min-height: 40vh;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.sibling-fade { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.sibling-fade > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade > * { opacity: 0.8; transform: scale(0.97); }
/* Fade out all items when the parent is hovered */

/*.sibling-fade:hover > * { opacity: 0.8; transform: scale(0.97); }
 Fade out all items when the parent is hovered */

.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }
/* Fade in the currently hovered item */

/**/

.menu-option-icon {
    margin-right: 8px;
}

.create-new-schedule-expander {
    display: flex;
    align-items: center;
}

.create-new-schedule-root {
    padding: 0 !important;
}

.create-schedule-field {
    display: flex;
    flex: 1;
    margin: 0 20px;
    align-items: baseline;
}

.create-schedule-field-title {
    margin-right: 8px !important;
    letter-spacing: 1px;
    width: 292px !important;
    text-transform: uppercase;
}

.route-wrapper {
    display: flex;
    flex: 0 0 100%;
    position: relative;
}

.route-wrapper > * {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    max-height: stretch;
}

.delete-session-button-group {
    margin: 8px 24px;
    display: flex;
    justify-content: center;
}

.delete-session-button-group > button {
    margin: 8px;
}

.delete-session-button-group > button:first-child {
    background-color:  #FF545B;
    color: white;
    border-color: #FF545B;
}

.delete-session-button-group > button:last-child {
    color: #FF545B;
    border-color: #FF545B;
}

.modal:focus {
    outline: none;
}

.modal-title {
    display: flex;
    align-items: center;
    margin: 12px;
}

.delete-session-warning-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 800;
    background-color: #FF545B;
    padding: 8px 12px 16px;
}

.delete-session-warning-container > svg {
    height: 6em;
    width: 6em;
}

.delete-session-close-button {
    position: absolute !important;
    right:8px;
    float: right;
    clear:both;

}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 184px;
    height: fit-content;
    font-size: 24px;
    font-weight:bold;
    flex: 1;
}

.connection-string {
    background-color: #ECECEC;
    border-radius: 12px;
    padding: 4px 8px;
    margin: 8px 0;    
}

.connection-string:hover {
    cursor: grab;
}

.edit-workflow-properties {
    margin: 12px 48px;
}

.file-explorer-item {
    width: fit-content;
}

.file-explorer-item:hover {
    cursor: pointer;
    font-weight: 800;
}

.button-icon {
    margin-right: 4px;
}

.cm-s-default {
    height: 80vh;
}

.edit-file-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;
    margin: 0 24px;
}

.edit-file-buttons > * {
    margin: 0 6px !important;
}

div:focus {
    outline: none;
}

.edit-file-title {
    letter-spacing: 1px;
    margin: 12px 28px !important;
}

.react-contexify {
    font-family: 'Roboto';
    opacity: 1;
    font-weight: 300;
    letter-spacing: 1px;
    z-index: 9999;
}

.react-contexify__item {
    border-bottom: 1px solid #EFEFEF
}

.react-contexify__item:last-child {
    border-bottom: unset;
}

.card-file-header-title {
    margin-top: 12px;
}

.pending-uploads-container {
    position:relative;
    height: 12vh;
    overflow: scroll;
    overflow-y: scroll;
    padding: 4px 0;
}


.card-file-header-path:first-child {
    margin-left: 0;
}

.edit-workflow-swiper {
    height: 50vh;
}

.edit-workflow-swiper > div {
    height: 50vh;
}

.edit-workflow-script-tab-container {
    background-color: #F7F7F7;
    color: #ECECEC;
}

.edit-workflow-script-tab {
    border-bottom-color: #ECECEC !important;
    color: grey !important;
    max-width: 108px !important;
    min-width: 108px;
}

.create-schedule-tab-container {
    padding: 5vh 8vw 0;
    display: flex;
}

.edit-workflow-notification-container {
    margin: 36px;
}

.large-modal {
    max-width: 748px !important;
}

.loader-inner > div {
    background-color: #5e8dbf;
}

.jobs-drawer-card-media {
    height: 3em;
    width: 3em;
}

.job-details-row {
    margin: 4px 0 !important;
}

.job-details-row-item-title {
    font-weight: 900;
    text-transform: uppercase;
    padding-right: 4px;
    text-shadow: .3px 0 #888888;
    letter-spacing: 1px;
}

.job-details-row-item-title.standard-error {
    color: #7C0A02;
}

.job-details-row-item-title.standard-out {
    color: #132a44;
}


.job-details-row-item-title.link:hover {
    text-decoration: underline;
}


.center-field > div > input {
    text-align: center;
}

.file-explorer-confirm-delete-menu-handler {
    display: none;
}

.cron-info-icon {
    color: rgb(94, 141, 191);
    justify-self: flex-end;
    align-self: flex-end;
    padding: 8px;
}